language: r
r: bioc-devel
cache:
  packages: true
warnings_are_errors: true

r_packages:
  - covr
  - pkgdown
  - testthat
  - knitr
  - roxygen2
  - S4Vectors

before_install:
  - mkdir -p ~/.R
  - echo -e 'MAKEFLAGS = -j2' > ~/.R/Makevars
  - echo 'options(Ncpus = 2)' > ~/.Rprofile

after_success:
  - Rscript -e 'covr::codecov()'

# In general the r-travis script automatically dump the logs after failure but
# because of a bug in travis the output is often truncated. See
# https://github.com/travis-ci/travis-ci/issues/6018
after_failure: sleep 10

before_deploy:
  - Rscript -e 'pkgdown::build_site()'

deploy:
  provider: pages
  skip-cleanup: true
  github-token: $GITHUB_PAT
  keep-history: true
  local-dir: docs
  on:
    branch: master

notifications:
  email:
    on_failure: change
    on_success: change
